body {
    margin: 0;
    background-color: #ffffff;
    height: 100%;
}

a:focus {
    outline: 2px solid #ffc94d;
}

header {
    margin-bottom: 10px;
    background-color: #1a3875;
    color: #ffc94d;
    top: 0;
}

.navbar {
    display: flex;
    justify-content:space-between;
    width: 90%;
    margin:0 auto;
    gap: 20px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-right: 40px;
}

.nav-links li {
    margin-left: 50px;
    font-family:'Lusitana';
    transition: all 0.5s;
}

.nav-links li:hover {
    text-decoration: underline;
}

.nav-links li a {
    color: #ffc94d;
    text-decoration: none;
    font-size:20px;
}

.nav-links.active {
    display: flex;
}

.logo img {
    width: 85px;
}

.burger {
    display: none;
    color: #ffc94d;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        margin: 5px;
        background-color: white;
        padding: 10px;
        box-shadow: -4px 4px 6px rgba(0,0,0,0.1);
        z-index: 1000;
    }

    .nav-links.show {
        display: flex;
    }

    .burger {
        display: block;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.comment-form {
    max-width: 600px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.comment-form h1 {
    font-size: 22px;
    font-weight: bold;
    font-family:'Lusitana';
    text-align: center;
    color: #1a3875;
    line-height: 1.5;
}

.comment-form p {
    font-size:0.8em;
    color: black;
    font-family:'Lusitana';
    line-height: 1.5;
}

.comment-form label {
    font-family:'Lusitana';
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family:'Lusitana';
}

button {
    background-color: #1a3875;
    color: #ffc94d;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    font-family:'Lusitana';
}

button:hover {
    background-color: #2859ba;
}

footer {
    background-color: #1a3875;
    padding-top: 20px;
    display:flex;
    bottom: 0;
    width: 100%;
}

.contact {
    display: flex;
    margin: auto;
}

footer p {
    color: #ffc94d;
    font-size:1.5em;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 50px;
    font-family: 'Lusitana';
    line-height: 1.5;
}

.icons a {
    text-decoration: none;
    cursor: pointer;
    font-size: 40px;
}

.icons a img:hover {
    scale: 1.3;
}

.icons a img {
    width: 35px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    min-width: 44px;
    min-height: 44px;
    transition: all 0.5s;
}